@font-face {
  font-family: "iconfont"; /* Project id 3709679 */
  src: url('iconfont.woff2?t=1665970704249') format('woff2'),
       url('iconfont.woff?t=1665970704249') format('woff'),
       url('iconfont.ttf?t=1665970704249') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-calendar:before {
  content: "\e65f";
}

.icon-viewList:before {
  content: "\e660";
}

